
.slider{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-item{
    display: block;
    position: absolute;
    width: 100%;
    transition: 0.6s;
    opacity: 0;
}

.slider-item-center{
    left: 0%;
    opacity: 1;
}
.slider-item-right{
    left: 100%;
    opacity: 0;
}
.slider-item-left{
    left: -100%;
    opacity: 0;
}

.slider-image{
    width: 100%;
    opacity: 0.2;
}

.slider-buttons{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    box-sizing: border-box;
}

.slider-arrow-button{
    cursor: pointer;
    font-size: 70px;
    color: rgb(146, 125, 187);
    transition: 0.3s;
}
.slider-arrow-button:hover{
    color: rgb(240, 228, 255);
}

.slider-content{
    position: absolute;
    width: 100%;
    margin-top: 20px;
}

.slider-item h2,p{
    color: white;
}

.slider-title{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 70%;
    left: 15%;
    top: 30%;
}
.slider-text{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 22px;
    width: 70%;
    left: 15%;
    top: 35%;
}




@media screen and (max-width : 1500px) {
    .slider-image{
        margin-left: -17%;
        width: 140%;
    }
}


@media screen and (max-width : 1300px) {
    .slider-title{
        font-size: 30px;
        width: 70%;
        left: 15%;
        top: 40%;
    }
    .slider-text{
        font-size: 22px;
        width: 70%;
        left: 15%;
        top: 48%;
    }

    .slider-arrow-button{
        font-size: 50px;
    }
    .slider-buttons{
        bottom: 50%;
        padding: 0px 60px;
    }
}

@media screen and (max-width : 1075px) {
    .slider-image{
        margin-left: -39%;
        width: 180%;
    }
}

@media screen and (max-width : 900px) {
    .slider-image{
        margin-left: -57%;
        width: 220%;
    }
    .slider-title{
        font-size: 30px;
        width: 90%;
        left: 5%;
        top: 20%;
    }
    .slider-text{
        font-size: 22px;
        width: 90%;
        left: 5%;
        top: 28%;
    }

    .slider-arrow-button{
        font-size: 40px;
    }
    .slider-buttons{
        bottom: 10%;
        padding: 0px 20px;
    }
}

@media screen and (max-width : 700px) {
    .slider-title{
        font-size: 23px;
        top: 40%;
    }
    .slider-text{
        font-size: 17px;
        top: 48%;
    }

    .slider-arrow-button{
        font-size: 40px;
    }

}

@media screen and (max-width : 675px) {
    .slider-image{
        margin-left: -110%;
        width: 330%;
    }
}

@media screen and (max-width : 500px) {
    .slider-image{
        margin-left: -140%;
        width: 380%;
    }
}

@media screen and (max-width : 400px) {
    .slider-title{
        left: 5%;
        top: 30%;
    }
    .slider-text{
        left: 5%;
        top: 45%;
    }

    .slider-arrow-button{
        font-size: 40px;
    }

    .slider-image{
        margin-left: -160%;
        width: 440%;
    }

}